#root {
  /* width: 100vw;
  height: 100vh; */
  /* padding: 2rem; */
  /* text-align: center; */
}

.demo-logo-vertical {
  /* padding: 20px; */
  background-color: #364452;
  width: 80%;
  margin: 10px auto;
  height: 40px;
  border-radius: 8px;
  object-fit: contain;
}